<!doctype html>
<html lang='en' data-version='{{timestamp}}'>

<head>

	{{> base/meta}}

	<link inline rel='stylesheet' href='bundle.css' />
	<link href="https://fonts.googleapis.com/css?family=Source+Serif+Pro:400,700&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://use.typekit.net/htl6lvg.css">

	<script src="https://cdnjs.cloudflare.com/ajax/libs/regl/1.3.11/regl.min.js"></script>

	{{> base/analytics }}

</head>

<body>
	<div id="nav">
	</div>
	<section class="intro-section">
		<div class="intro">
		</div>
		<div class="intro-text">
			<h1>
				<span class="title-top">New Jersey’s</span>
				<span class="title-bottom">Rising Coastal Risk</span>
			</h1>
			<h2>
				{{copy.subhed}}
			</h2>
			{{#each copy.intro}}
				<div class="intro__step"  data-step="{{this.step}}">
					<p class="intro__step__text">
							{{this.text}}	
					</p>
				</div>
			{{/each}}
		</div>
		<div class="intro-text-centered">
			{{#each copy.intro-centered}}
				<div class="intro__step"  data-step="{{this.step}}">
					<p class="intro__step__text">
							{{this.text}}	
					</p>
				</div>
			{{/each}}
		</div>
		<div class="intro-text-centered">
			{{#each copy.intro-takeaways}}
				<div class="intro__step"  data-step="{{this.step}}">
					<h3 class="intro__step__header">
						{{this.headline}}<span class="count">({{inc @index}}/{{../copy.intro-takeaways.length}})</span>
					</h3>
					<p class="intro__step__text">
							{{this.text}}	
					</p>
					<button class="intro__step__link">
						Read More
					</button>
				</div>
			{{/each}}
		</div>
	</section>

	<section class="tidal-flood">
		<div>
			<div class="tidal-header">
				<div class="tidal-video-wrap">
					<video autoplay muted loop id="flooding-video">
					  <source src="{{basepath}}assets/images/flood.mov" type="video/mp4">
					</video>
				</div>
				<div class="tidal-title">
					<h4>Part 1</h4>
					<h2>A Rising Tide</h2>
				</div>
			</div>
			
			<div class="tidal-intro">
				{{#each copy.tidal-intro}}
					{{#ifEquals this.type 'text'}}
						<p class="text text--centered">
							{{this.value}}
						</p>
					{{/ifEquals}}
			
					{{#ifEquals this.type 'chart'}}
						<div class="chart-wrap--background" id="{{this.value}}">
						</div>
					{{/ifEquals}}
			{{/each}}v
			</div>
			<div class="tidal-main">
				<div class="tidal-main__graphic" id="tidal-graphic">
				</div>
				<div class="tidal-main__text">
					{{#each copy.tidal-main}}
						<p class="text text--right tidal-step" data-pose={{this.step}}>
							{{this.text}}
						</p>
					{{/each}}
				</div>
			</div>
			<div id="tidal-values">
			</div>
		</div>
	</section>

	<section class="hurricanes">
		<div class="tidal-header">
				<div class="tidal-video-wrap">
					<video autoplay muted loop id="flooding-video">
					  <source src="{{basepath}}assets/images/flood.mov" type="video/mp4">
					</video>
				</div>
				<div class="tidal-title">
					<h4>Part 2</h4>
					<h2>Hurricanes</h2>
				</div>
			</div>
	</section>

	<section class="story-section surge">
		{{#each copy.surge-intro}}
			<p class="text text--centered">
				{{this.text}}
			</p>
		{{/each}}
		<div class="split-wrap" id="surge-main">
			<div class="split-chart" id="surge-main__chart">

			</div>
			<div class="split-text" id="surge-main__text">
				{{#each copy.surge-chart}}
					<p class="text text--right surge-step" data-pose={{this.step}}>
						{{this.text}}
					</p>
				{{/each}}
			</div>
		</div>

	</section>

	<section class="story-section wind">
		<div id="wind-main">
			<div id="wind-main__chart">
			</div>
			<div id="wind-main__text">
				{{#each copy.wind}}
					<p>{{this.text}}</p>
				{{/each}}
			</div>
		</div>
		<!--
		<div id="map-bg">
			<div id="map-svg-wrap">
			</div>
		</div>
	-->
		<div id="wind-sm">
			<div class="wind-sm__header">
				<h2 class="wind-sm__header__title">
					Properties Exposed to Hurricane-Force Winds By County
				</h2>
				<div class="toggle">
				  <input id="sm-toggle" type="checkbox">
				  <label for="sm-toggle">
				  	<div class="toggle__option">
							Percent
				  	</div>
				  	<div class="toggle__option">
							Total
				  	</div>
				    <div class="toggle__switch" data-checked="Percent" data-unchecked="Total"></div>
				  </label>
				</div>
			</div>
		</div>
	</section>

	<section class="costs">
		<div class="tidal-header">
			<div class="tidal-video-wrap">
				<video autoplay muted loop id="flooding-video">
				  <source src="{{basepath}}assets/images/flood.mov" type="video/mp4">
				</video>
			</div>
			<div class="tidal-title">
				<h4>Part 3</h4>
				<h2>What Will It Cost?</h2>
			</div>
		</div>
		<div class="costs-intro">
			{{#each copy.costs-intro}}
				<p class="text text--centered">
					{{this.text}}
				</p>
			{{/each}}
		</div>
		<div class="split-wrap" id="costs-main">
			<div class="split-chart" id="costs-main__chart">
				<div id="costs-svg-wrap">
				</div>
			</div>
			<div class="split-text" id="costs-main__text">
				{{#each copy.costs-chart}}
					<p class="text text--right costs-step" data-pose={{this.step}}>
						{{this.text}}
					</p>
				{{/each}}
			</div>
		</div>
	</section>


	<script src='{{basepath}}assets/scripts/d3.v5.9.1.min.js'></script>
	<script src='main.js?version={{timestamp}}' async></script>
</body>

</html>