<!doctype html>
<html lang='en' data-version='{{timestamp}}'>

<head>

	{{> base/meta}}

	<link inline rel='stylesheet' href='bundle.css' />
	<link href="https://fonts.googleapis.com/css?family=Source+Serif+Pro:400,700&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://use.typekit.net/htl6lvg.css">


	<script inline src='head.js'></script>

	{{> base/analytics }}

</head>

<body>
	<script id="vertexShader" type="x-shader/x-vertex">
		attribute vec3 second;

	  uniform float pct;
	  uniform float size;

	  varying vec4 vColor;

	  void main() {
	    gl_PointSize = size;

	    vec3 morphed = vec3( 0.0 , 0.0 , 0.0 );

	    morphed += ( second - position ) * pct;

			morphed += position;
	    gl_Position = projectionMatrix * modelViewMatrix * vec4( morphed, 1.0 );
	  }
	</script>

	<script id="fragmentShader" type="x-shader/x-fragment">
	  uniform sampler2D texture;
	  void main() {

	    gl_FragColor = vec4(1.0,0.0,1.0,0.6);

	  }
	</script>

	<section class="intro">
		{{#each copy.intro}}
			<div class="intro__step">
				<p class="intro__step__text">
					<mark>
						{{this.value}}
					</mark>
				</p>
			</div>
		{{/each}}
	</section>

	<section class="tidal-flood">
		<div>
			<div class="tidal-header">
				<div class="tidal-video-wrap">
					<video autoplay muted loop id="flooding-video">
					  <source src="{{basepath}}assets/images/flood.mov" type="video/mp4">
					</video>
				</div>
				<div class="tidal-title">
					<h4>Part 1</h4>
					<h2>A Rising Tide</h2>
				</div>
			</div>
			
			<div class="tidal-intro">
				{{#each copy.tidal-intro}}
					{{#ifEquals this.type 'text'}}
						<p class="text text--centered">
							{{this.value}}
						</p>
					{{/ifEquals}}
			
					{{#ifEquals this.type 'chart'}}
						<div class="chart-wrap--background" id="{{this.value}}">
						</div>
					{{/ifEquals}}
			{{/each}}v
			</div>
			<div class="tidal-main">
				<div class="tidal-main__graphic" id="tidal-graphic">
				</div>
				<div class="tidal-main__text">
					{{#each copy.tidal-main}}
						<p class="text text--right">
							{{this.text}}
						</p>
					{{/each}}
				</div>
			</div>
		</div>
	</section>

	<section class="story-section wind">
		<div id="wind-main">
			<div id="wind-main__chart">
				<div id="wind-main__chart__svg">
					<h2 class="wind-sm__header__title">
						Properties Exposed to Hurricane-Force Winds
					</h2>
				</div>
			</div>
			<div id="wind-main__text">
				{{#each copy.wind}}
					<p>{{this.text}}</p>
				{{/each}}
			</div>
		</div>
		<div id="map-bg">
			<div id="map-svg-wrap">
			</div>
		</div>
		<div id="wind-sm">
			<div class="wind-sm__header">
				<h2 class="wind-sm__header__title">
					Properties Exposed to Hurricane-Force Winds
				</h2>
				<div class="toggle">
				  <input id="sm-toggle" type="checkbox">
				  <label for="sm-toggle">
				  	<div class="toggle__option">
							Percent
				  	</div>
				  	<div class="toggle__option">
							Total
				  	</div>
				    <div class="toggle__switch" data-checked="Percent" data-unchecked="Total"></div>
				  </label>
				</div>
			</div>
		</div>
	</section>

	<section class="story-section tidal-flooding">
	</section>

	<section class="story-section storm-surge">
	</section>



	<script src='{{basepath}}assets/scripts/d3.v5.9.1.min.js'></script>
	<script src='main.js?version={{timestamp}}' async></script>
</body>

</html>